<h1>Edit ticket_status_history</h1>

<%= render 'form' %>

<%= link_to ticket_status_histories_path do %><i class ="fa fa-arrow-left"></i><% end -%> |

    <%= link_to ticket_status_history_path(@ticket_status_history), :class => 'btn btn-primary btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
      <i class ="fa fa-eye"></i>
    <% end -%>

    <%= link_to ticket_status_history_path(@ticket_status_history), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-primary btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
      <i class ="fa fa-times"></i>
    <% end -%>

