<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @ticket_user.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket_user.user %>
</p>

<%= render 'layouts/links', locals: {item: @ticket_user} %>