<div class="row">
	<div class = "col-md-12 col-xs-12">
		<h1>Tickets 
			
	        <%= link_to new_ticket_detail_path, :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
	            <i class ="fa fa-plus"></i>
	        <% end -%>
	   
		</h1>
	</div>
	
</div>

<div class="row">
	<div class = "col-md-12">
		<%= render :partial => 'indexlist' %>
	</div>
</div>



