<table class="table table-striped table-responsive" id ="ticket_comments" >
  <thead>
    <tr>
    	<th>Name</th>
    	<th>Description</th>
    	<th>Created by</th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_comments.each do |ticket_comment| %>
      <tr>
	        <td><%= ticket_comment.name %></td>
	        <td><%= ticket_comment.description %></td>
	        <td><%= ticket_comment.created_by %></td>


        
      </tr>
    <% end %>
  </tbody>
</table>