<table class="table table-striped table-responsive" id ="organisations" >
  <thead>
    <tr>
	    <th>Organisation</th>
      <th>Location</th>
	    <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= link_if_you_can(:read, organisation) %></td>
        <td><%= link_if_you_can(:read, organisation.location) %></td>
  	    <td><%= link_if_you_can(:read, organisation.ticket_category) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>