<h1>Edit ticket_priority</h1>

<%= render 'form' %>

<%= link_to ticket_priorities_path do %><i class ="fa fa-arrow-left"></i><% end -%> |
<% if can? :read, @ticket_priority %>
    <%= link_to ticket_priority_path(@ticket_priority), :class => 'btn btn-primary btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
      <i class ="fa fa-eye"></i>
    <% end -%>
<% end %>
<% if can? :destroy, @ticket_priority %>
    <%= link_to ticket_priority_path(@ticket_priority), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-primary btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
      <i class ="fa fa-times"></i>
    <% end -%>
<% end %>
