// css fixes and workarounds


.mike_button{
	
width: 100%;
height: 40px;
background-color: #c1c1c1;
border: 0;
color: white;
font-size: 15px;

}



.mike_button:hover{

background-color: 	#2980b9;



	
}