<h1>Update Ticket (<%= @ticket_detail.id %>)</h1>
<h2><%= link_to ticket_details_path do %><i class ="fa fa-arrow-left"></i><% end -%>  
<%= link_if_you_can(:destroy, @ticket_detail, 'fa fa-times') %></h2>

<%= render 'form' %>

<br /><br />
<br /><br />




