<div class="row">
	<div class = "col-md-12 col-xs-12">
		<h1>Tickets 
			<% if can? :create, @ticket_details %>
		        <%= link_to new_ticket_detail_path, :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
		            <i class ="fa fa-plus"></i>
		        <% end -%>
		    <% end %>
		</h1>
	</div>
	
</div>

<div class="row">
	<div class = "col-md-12">
		<%= render :partial => 'indexlist' %>
	</div>
</div>



