<div class="row">
	<div class = "col-md-8 col-xs-12">
		<h1>Locations</h1>
	</div>
	<div class = "col-md-4 col-xs-12">
		<h2>
			
	        <%= link_to new_location_path, :class => 'btn btn-primary', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
	            <i class ="fa fa-plus"></i>
	        <% end -%>
		    
		</h2>
	</div>
</div>

<div class="row">
	<div class = "col-md-12">
		<%= render :partial => 'indexlist' %>
	</div>
</div>
<br>
<br>

<%= link_to 'New Location', new_location_path %>
